In [23]:
import numpy as np
import pandas as pd
from nn_utils import *

In [24]:
net = NeuralNetwork()

net.add_input_layer(7)

net.add_hidden_layer(7, 3)

net.add_output_layer(3, 2)

print(net)

INPUT LAYER:
NODE 0 OUTPUT = 0.0
NODE 1 OUTPUT = 0.0
NODE 2 OUTPUT = 0.0
NODE 3 OUTPUT = 0.0
NODE 4 OUTPUT = 0.0
NODE 5 OUTPUT = 0.0
NODE 6 OUTPUT = 0.0

LAYER 0
NODE 0 WEIGHTS = 0.22776644351251774, -0.07867054726096798, -0.07257863223170147, 0.6226741683327486, 0.01493219985767919, 0.011542601352368839, 0.7562813936000752,  BIAS = 0.0
NODE 1 WEIGHTS = -0.7884161128066752, -0.5893500110918266, -0.668313907923511, 0.4138885275537244, -0.20476037494999072, -0.03162547978400768, 0.018707580960010576,  BIAS = 0.0
NODE 2 WEIGHTS = 0.4789912214307468, 0.21086338780846786, -0.08070244454090189, -0.02643810111861892, -0.3834713337664787, -0.1504993409738246, 0.5062297438547566,  BIAS = 0.0


OUTPUT LAYER:
NODE 0 WEIGHTS = 0.5034204625995271, -0.2084562794290442, -0.5957139468594781,  BIAS = 0.0
NODE 1 WEIGHTS = 1.2446027764982415, -2.0001375931043706, -0.9705083284451056,  BIAS = 0.0

In [25]:
col_names = ["Class", "a1", "a2", "a3", "a4", "a5", "a6", "ID"]

data = pd.read_csv("../monk+s+problems/monks-1.train", sep =" ",  names = col_names)
data.head()

     Class  a1  a2  a3  a4  a5  a6       ID
NaN      1   1   1   1   1   3   1   data_5
NaN      1   1   1   1   1   3   2   data_6
NaN      1   1   1   1   3   2   1  data_19
NaN      1   1   1   1   3   3   2  data_22
NaN      1   1   1   2   1   2   1  data_27